.signup {
  padding: 110px 0;
  background-image: linear-gradient(white, #4169e1);
  height: 100vh;
  .paper {
    background: white;
    border-radius: 30px;
    padding: 30px 50px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
  }
  .submit {
    margin-top: 20px;
  }
  .MuiContainer-maxWidthXs {
    @media (min-width: 0) {
      max-width: initial;
    }
  }
}
.error {
  color: red;
  font-size: 14px;
}
