.login {
  background-image: linear-gradient(white, #4169e1);
  height: 100vh;
  padding-top: 150px;
  overflow: auto;
  .container {
    margin: auto;
    background-color: white;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #555555;
    @media (max-width: 800px) {
      width: 90%;
    }
    .background-login {
      width: 400px;
      background-size: cover;
      @media (max-width: 800px) {
        display: none;
        width: 0;
      }
    }
    .form-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin-top: 20px;
      width: 100%;
    }
    .submit {
      padding-top: 60px;
      text-align: center;
      width: 100%;
    }
    .link-forgot-password {
      text-align: center;
      color: #4169e1;
    }
  }
}
